* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
}

:root {
    --yellow-todo: #fdf21c77;
    --pink-paper: #e9557f;
    --pink-lower-paper: #e9dbe7;
    --violet-hight-paper: #723c8c;
    --violet-paper: #892be2a1;
    --violet-medio-paper: #a063daf8;
    --violet-lower-paper: #decde7;
}

html {
    min-height: 100vh;
}

ul {
    list-style: none;
}

body {
    background-image: url("../img/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    font-size: 1.2rem;
}


button, select {
    cursor: pointer;
}

input::placeholder {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.192);
}

/* Todo colors */
#themes-colors {
    visibility: hidden;
    margin: 1rem auto;
    width: 100%;
    max-width: 150px;
}

#themes-colors ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#themes-colors li {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

#themes-colors li .color {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    box-shadow: 1px 1px 1px;
    border: 3px solid white;
    pointer-events: none;
}

#paper .color {
    background-color: rgb(233, 232, 207);
}

#pink .color {
    background-color: var(--violet-paper);
}

#violet .color {
    background-color: var(--violet-paper);
}

.selected {
    outline: 3px solid #43a1ff;
}

/* Todo container */
.to-do-container {
    margin: .5rem auto;
    width: 100%;
    max-width: 420px;
    min-height: 300px;
    background-color: var(--pink-lower-paper);
    background-color: #f8ecfd;
    
    border-radius: 40px;
    box-shadow: 15px 20px rgba(0, 0, 0, 0.349);
}

.to-do-header {
    padding: .5rem 0rem;
    background-color: var(--violet-hight-paper);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    /* font-family: 'Bebas Neue', sans-serif;
    font-family: 'Caveat', cursive;
    font-family: 'Satisfy', cursive; */
    color: white;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    margin-bottom: 1rem;
}

h2, h4 {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--violet-medio-paper);
}

h3 {
    width: 100%;
    font-size: 1.3rem;
    color: #4169E1;
    margin-right: 8px;
}

h4 {
    text-align: center;
    margin-bottom: 1rem;
}

#to-do-content {
    padding: 2rem 2rem;
}

.to-do-options {
    padding: 1.2rem 1rem;
    margin: 0rem 0 1.5rem;
    border: 1px solid var(--violet-paper);
    border-radius: 10px;
}

.control-input {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 1rem;
}

.control-input label {
    margin-bottom: .5rem;
    font-size: 1rem;
    color: var(--violet-paper);
    /* color: #723C8C; */
}

.control-input input {
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid var(--violet-paper);
    /* border-bottom: 1px solid #723C8C; */
    outline: 0;
    padding: 0rem;
    margin-left: .5rem;
    font-size: 1.5rem;
    color: #0D214F;
    color: #4169E1;
    /* color: #ff0000; */
}

.control-button {
    margin: auto;
}

.control-button button {
    min-width: 90px;
    padding: .2rem 0rem;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid var(--violet-paper);
    color: var(--violet-paper);
    transition: .500s;
}

.control-button button:first-child {
    margin-right: .5rem;
}

.control-button button:hover {
    color: white;
    background-color: var(--violet-paper);
    opacity: 1;
}

/* Buscar */
.to-do-search {
    padding: .5rem 1rem;
    border: 1px solid var(--violet-paper);
    border-radius: 10px;
}

.control-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    width: 100%;
    padding: .2rem;
}

.control-search .control-input {
    display: flex;
    flex-direction: row;
    flex: 3;
}

.control-search .control-input, input {
    margin-left: -.5rem;
    margin-bottom: 0;
}

.control-search .control-input button {
    background-color: transparent;
    flex: 2;
    padding: 0 5px;
    border: 2px solid var(--violet-paper);
    margin-left: 7px;
    transition: .5s;
    color: var(--violet-paper);
}

.control-search .control-input button:hover {
    color: white;
    background-color: var(--violet-paper);
}

/* Select */
.control-select {
    flex: 1;
}

.control-select select {
    background-color: transparent;
    border: 2px solid var(--violet-paper);
    outline: 0;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--violet-paper);
    transition: .500s;
}

.control-select select:hover {
    color: white;
    background-color: var(--violet-paper);
}

/* Lista de to do */
.to-dos-list {
    padding: 1rem 0;
    margin-top: 1rem;
}

/* Class Done */
.done {
    text-decoration: line-through;
    opacity: .5;
}

.done h3 {
    color: #000000;
}

.done i {
    opacity: 1;
}

.to-do {
    display: flex;
    padding: 0rem 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--violet-paper);

    /* background-color: #bcdfc9;
    box-shadow: 3px 3px 3px #94b19e; */

    /* border: 1px solid red; */
}

.to-do-control-buttons {
    display: flex;
    gap: .8rem;
}

.to-do-control-buttons button {
    font-size: 1rem;
    color: #000000;
    opacity: .3;
    border: 0;
    background-color: transparent;
    transition: .5s;
}

button i {
    pointer-events: none;
}

.hide {
    display: none;
}

/* Temas e cores */
/*  Violete */
.theme-violet-lower-background {
    background-color: var(--violet-lower-paper);
}

.theme-violet-background {
    background-color: var(--violet-paper);
}

.theme-violet-border {
    border: 1px solid var(--violet-paper);
}

.theme-violet-border-bottom {
    border: 0;
    border-bottom: 1px solid var(--violet-paper);
}

.theme-violet-color {
    color: var(--violet-paper);
}

/*  Papel */
@media (max-width: 480px) {
    input {
        cursor: none;
    }

    h2 {
        margin-bottom: 1.5rem;
    }

    h2, h4 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .to-do-container {
        width: calc(100% - .5rem);
    }

    #to-do-content {
        padding: 2rem 1rem;
    }

    .to-do-options {
        padding: 1rem;
    }

    .control-input {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin-bottom: 1rem;
    }

    .control-input label {
        font-size: 1.2rem;

    }

    .control-input input {
        font-size: 1.5rem;
    }

    .control-input input::placeholder {
        font-size: 1.5rem;
    }

    .control-button button {
        font-size: 1.6rem;
        background-color: var(--violet-paper);
        color: white;
        transition: none;
    }

    .to-do {
        padding: 1.5rem 1em;
    }

    .to-do-control-buttons button {
        font-size: 1.2rem;
    }
}